<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--
      Connection string mac dinh su dung SQL Server LocalDB.
      De su dung SQL Server Express, thay doi:
      Data Source=.\SQLEXPRESS
      Hoac SQL Server day du:
      Data Source=DESKTOP-6UTLKJJ\Nha_Hang_Huit
    -->
    <add name="NhaHangHuit"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=NhaHangHuit;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
